<div class="create">
  <div class="create-editor">
    <h2>Post New Event</h2>
    <form>
      <p>Event Name
        <input class="create-input" ng-model='$ctrl.post.name' type="text"></input><br>
        City
        <input class="create-input" ng-model='$ctrl.post.city' type="text"></input><br>
        Date
        <input id="date" type="date" ng-mode="$ctrl.post.date"></input><br>
        Time
        <input class="create-input" ng-model='$ctrl.post.time' type="time"></input><br>
        Description<br>
        <textarea rows="10" cols="70" ng-model='$ctrl.post.description' class="create-body-textarea"></textarea><br>
        Image Url
        <input class="create-input" ng-model='$ctrl.post.imgUrl' type="text"></input><br>
        Cost
        <input class="create-input" ng-model='$ctrl.post.cost' type="text"></input><br>
        Address
        <input class="create-input" ng-model='$ctrl.post.address' type="text"></input><br>
        Intensity
        <select name="intensity" ng-model='$ctrl.post.intensity'>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select><br>
        Duration
        <select name="time" ng-model='$ctrl.post.duration'>
          <option value="short">Short</option>
          <option value="medium">Medium</option>
          <option value="long">Long</option>
        </select><br>
        <button class="create-submit-button"
         ng-click='$ctrl.click()'>Save post</button>
      </p>
    </form>
  </div>
</div>
