<div class="create">
  <div class="create-editor">
    <h2>Post New Event</h2>
    <form>
      <p>Event Name
        <input class="create-input" ng-model='$ctrl.post.name' type="text"></input><br>
        City
        <input class="create-input" type="text"></input><br>
        Date
        <input class="create-input" type="text"></input><br>
        Time
        <input class="create-input" type="text"></input><br>
        Description<br>
        <textarea rows="10" cols="70" class="create-body-textarea"></textarea><br>
        Image Url
        <input class="create-input" type="text"></input><br>
        Cost
        <input class="create-input" type="text"></input><br>
        Address
        <input class="create-input" type="text"></input><br>
        Intensity
        <select name="intensity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select><br>
        Duration
        <select name="time">
          <option value="short">Short</option>
          <option value="medium">Medium</option>
          <option value="long">Long</option>
        </select><br>
        <button class="create-submit-button" type="submit">Save post</button>
      </p>
    </form>
  </div>
</div>
