<div>
 <h1>{{$ctrl.event.name}}</h1> <button ng-click="$ctrl.like()">Like</button> <button ng-click="$ctrl.dislike()">Dislike</button>
      <li>Cost: {{$ctrl.event.cost}} </li>
      <li>Intensity: {{$ctrl.event.intensity}} </li>
      <li>Likes: {{$ctrl.event.likes}} </li>
    </form>
  <div>
    <span>
      <img class="activity-image" src={{$ctrl.event.imgUrl}}>
    </span>
  </div>
  <div>
    {{$ctrl.event.description}}
  </div>
  <buttom ng-click="$ctrl.changeView('home')">Home</buttom>
</div>