<div class="home">
  <div class="filters">Filters:
      <form class="search-input">Search: 
        <input type="text" placeholder="">
      </form>
      <form>Cost: 
        <select class="cost-selection">
          <option value="free">Free</option>
          <option value="below5">Below $5</option>
          <option value="$5-10">$5-$10</option>
          <option value="$10-20">$10-20</option>
          <option value="$20-50">$20-50</option>
          <option value="$$50-100">$50-100</option>
          <option value="$100+">$100+</option>
        </select>
      </form>
      <form>Duration: 
        <select class="duration-selection">
          <option value="short">short</option><br>
          <option value="medium">medium</option><br>
          <option value="long">long</option>
        </select>
      </form>
      <form class="intensity-selection">Intensity: 
        <input type="radio" value="1">1
        <input type="radio" value="2">2
        <input type="radio" value="3">3
        <input type="radio" value="4">4
        <input type="radio" value="5">5
      </form>
  </div>
  <div class="top-activity-desc">Top activities for your location:</div>
  <div ng-repeat="activity in $ctrl.recommendations" class="search-results">
    <div class="activity-item">
      <div class="name-likes">
        <span class="activity-name">{{activity.name}}</span>
        <span class="activity-likes">Likes: {{activity.likes}}</span>
      </div>
      <div class="image-description">
        <span><img class="activity-image" src={{activity.imgUrl}}></span>
        <span class="activity-description">{{activity.description}}</span>
      </div>
    </div>
  </div>
</div>