/*
  ========================================
  On all pages
  ========================================
*/

::-webkit-scrollbar { 
    display: none; 
}

body {
  margin: 0;
  padding: 0;
  background: url('./canoe.jpeg'); 
  background-position: 0px -10px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.layer {
  background-color: hsla(360, 100%, 100%, 0.6);
  position: fixed;
  width: 84%;
  height: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

ul {
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #94dbea;
}

li {
  margin-right: 30px;
  line-height: 40px;
}

.nav {
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}

.logo {
  display: inline-block;
  line-height: 40px;
  font-size: 15pt;
  font-weight: 600;
  color: hsla(360, 100%, 100%, 1);
  margin-left: 30px;
  float: left;
}

.nav-edit,
.nav-add {
  float: right;
  color: hsla(360, 100%, 100%, 1);
}

/*
  ========================================
  Landing.html
  ========================================
*/

.landing {
  padding-top: 50px;
}

.landing-desc {
  font-size: 25px;
  text-align: center;
}

.landing-desc {
  margin-top: 50px;
  padding-bottom: 30px;
}

.landing-form {
  font-size: 20px;
  text-align: center;
}

.city-input {
  font-size: 20px;
  vertical-align: middle;
}

.begin-button {
  background-color: #94dbea;
  border-color: #d5e1df;
}

.begin-button:hover,
.begin-button:focus,
.begin-button:active,
.begin-button:target {
  background-color: #94dbea;
  border-color: #d5e1df;
  color: black;
}

/*
  ========================================
  Home.html
  ========================================
*/

.filter-div {
  border-bottom: 1px solid black;
}

.filter-desc {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 65px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.filter-items {
  margin-left: 30px;  
  margin-bottom: 30px;
}

.top-activity-desc {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.name-likes {
  padding-bottom: 10px;
  float: left;
}

.image-description {
  float: left;
  padding-left: 30px;
  padding-right: 60px;
  padding-bottom: 35px;
}

.activity-image {
  max-width: 250px;
  max-height: auto;
  margin-left: 30px;
  margin-right: 30px;
  float: left;
}

.activity-description {
  display: inline;
  line-height: 25px;
  top: 50%;
}

.activity-name {
  font-weight: bold;
  padding-left: 20px;
}

.activity-likes {
  display: block;
  border-radius: 5px;
  margin-left: 30px;
  float: right;
}

/*
  ========================================
  checkReference.html
  ========================================
*/

.check-reference {
  margin-top: 50px;
}

.reference-desc {
  font-size: 25px;
  text-align: center;
}

.reference-desc {
  margin-top: 25px;
  padding-bottom: 30px;
}

.reference-form {
  font-size: 20px;
  text-align: center;
}

.reference-error {
  margin-top: 10px;
  text-align: center;
}

.reference-input {
  font-size: 20px;
  vertical-align: middle;
}

.reference-button {
  background-color: #94dbea;
  border-color: #d5e1df;
}

.reference-button:hover,
.reference-button:focus,
.reference-button:active,
.reference-button:target {
  background-color: #94dbea;
  border-color: #d5e1df;
  color: black;
}

/*
  ========================================
  create.html
  ========================================
*/

.create {
  margin-top: 50px;
  margin-left: 10px;
}


.create-submit-button {
  background-color: #94dbea;
  border-color: #d5e1df;
}

.create-submit-button:hover,
.create-submit-button:focus,
.create-submit-button:active,
.create-submit-button:target {
  background-color: #94dbea;
  border-color: #d5e1df;
  color: black;
}

.create-titles {
  color: white;
  width: 100px;
  background: black;
}

/*
  ========================================
  confirm.html
  ========================================
*/

.confirm {
  margin-top: 150px;
  vertical-align: middle;
  text-align: center;
}

.confirm-to-home {
  margin-right: 20px;
  text-align: right;
}
